@charset "UTF-8";
.titulos h1 {
  font-size: 40px;
  color: red;
  text-align: center;
  text-decoration: underline; }

@media only screen and (max-width: 767px) {
  .titulos h1 {
    font-size: 20px;
    color: red;
    text-align: center;
    text-decoration: underline; } }

.subtitulos h2 {
  font-size: 20px;
  color: red;
  text-align: center; }

@media only screen and (max-width: 767px) {
  .subtitulos h2 {
    font-size: 15px;
    color: black;
    text-align: center; } }

.parrafos p {
  font-size: 25px;
  color: #757170;
  text-aling: right;
  font-style: bold; }

@media only screen and (max-width: 767px) {
  .parrafos p {
    font-size: 12.5px;
    color: #757170;
    text-aling: right;
    font-style: bold; } }

.tamañoNav {
  font-size: 40px; }
  @media only screen and (max-width: 767px) {
    .tamañoNav {
      font-size: 20px; } }

.txtNav a {
  color: black;
  text-align: center; }

.tamañoImagen {
  width: 405px;
  height: 270px; }
  @media only screen and (max-width: 767px) {
    .tamañoImagen {
      width: 250px;
      height: 250px; } }

@media only screen and (max-width: 767px) {
  .ocultarImagen {
    display: none; } }

@media only screen and (max-width: 767px) {
  .tamañoMapaContacto {
    width: 200px;
    height: 150px; } }

@media only screen and (max-width: 767px) {
  .tamañoTabla {
    overflow-x: scroll; } }

.tamañoImagen404 {
  width: 100px;
  height: 600px; }
  @media only screen and (max-width: 767px) {
    .tamañoImagen404 {
      overflow-x: scroll; } }

.titulos h1 {
  font-size: 40px;
  color: red;
  text-align: center;
  text-decoration: underline; }

@media only screen and (max-width: 767px) {
  .titulos h1 {
    font-size: 20px;
    color: red;
    text-align: center;
    text-decoration: underline; } }

.subtitulos h2 {
  font-size: 20px;
  color: red;
  text-align: center; }

@media only screen and (max-width: 767px) {
  .subtitulos h2 {
    font-size: 15px;
    color: black;
    text-align: center; } }

.parrafos p {
  font-size: 25px;
  color: #757170;
  text-aling: right;
  font-style: bold; }

@media only screen and (max-width: 767px) {
  .parrafos p {
    font-size: 12.5px;
    color: #757170;
    text-aling: right;
    font-style: bold; } }

.tamañoNav {
  font-size: 40px; }
  @media only screen and (max-width: 767px) {
    .tamañoNav {
      font-size: 20px; } }

.txtNav a {
  color: black;
  text-align: center; }

.tamañoImagen {
  width: 405px;
  height: 270px; }
  @media only screen and (max-width: 767px) {
    .tamañoImagen {
      width: 250px;
      height: 250px; } }

@media only screen and (max-width: 767px) {
  .ocultarImagen {
    display: none; } }

@media only screen and (max-width: 767px) {
  .tamañoMapaContacto {
    width: 200px;
    height: 150px; } }

@media only screen and (max-width: 767px) {
  .tamañoTabla {
    overflow-x: scroll; } }

.tamañoImagen404 {
  width: 100px;
  height: 600px; }
  @media only screen and (max-width: 767px) {
    .tamañoImagen404 {
      overflow-x: scroll; } }

.paddingTB {
  padding-top: 50px;
  padding-bottom: 50px; }

.marginID {
  margin-left: 50px;
  margin-right: 50px; }

.centrar {
  margin-left: 250px; }

.marginD {
  margin-right: 50px; }

.box {
  height: 270px;
  width: 405px; }
