@import "tamaniosyfuentes";
@import "colores";
$padding:50px;
$margin:50px;
.paddingTB{
	padding-top:$padding;
	padding-bottom:$padding;
}
.marginID{
	margin-left:$margin;
	margin-right:$margin;
}

.centrar{
	margin-left:$margin*5;
}