@import "tamaniosyfuentes";
@import "colores";
$padding:50px;
$margin:50px;
//se asignan margenes para la pagina
.paddingTB{
	padding-top:$padding;
	padding-bottom:$padding;
}
.marginID{
	margin-left:$margin;
	margin-right:$margin;
}

.centrar{
	margin-left:$margin*5;
}

.marginD{
	margin-right:$margin;
}

//Dimensionar el div del slider

.box{
	height:270px;
	width:405px;
}