@import "colores";
$tituloDesktop:40px;
$subtituloDesktop:30px;
$tituloMobile:$tituloDesktop/2;
$subtituloMobile:$subtituloDesktop/2;
$parrafoDesktop:25px;
$parrafoMobile:$parrafoDesktop/2;

//medidas y mediasquerys de los titulos y subtitulos en general
.titulos{
	h1{
	font-size:$tituloDesktop;
	color:$Rojo;
	text-align:center;
	text-decoration:underline;
	}
	@media only screen and (max-width:767px){
	h1{
	font-size:$tituloMobile;
	color:$Rojo;
	text-align:center;
	text-decoration:underline;
	}
	}
}
.subtitulos{
	h2{font-size:$tituloMobile;
	color:$Rojo;
	text-align:center;}
	@media only screen and(max-width:767px){
	h2{
	font-size:$subtituloMobile;
	color:$Negro;
	text-align:center;
	}
	}
}
.parrafos{
	p{
		font-size:$parrafoDesktop;
		color:$Gris;
		text-aling:right;
		font-style:bold;
	}
	@media only screen and(max-width:767px){
	p{
	font-size:$parrafoMobile;
		color:$Gris;
		text-aling:right;
		font-style:bold;
	}
	}
}




//Personalizacion del nav


.tamañoNav{
	font-size:$tituloDesktop;
@media only screen and(max-width:767px){font-size:$tituloMobile}
}

.txtNav{
	a{
	color:$Negro;
	text-align:center;
	}
}



//Personalizacion en tamaño de imagenes
.tamañoImagen{width:405px; height:270px;
@media only screen and (max-width:767px){width:250px; height:250px;}
}

.ocultarImagen{
	@media only screen and(max-width:767px){display:none}
}


//Personalizacion del tamaño del mapa
.tamañoMapaContacto{
	@media only screen and (max-width:767px){width:200px; height:150px;}
}

//Personalizacion del tamaño de la tabla
.tamañoTabla{
	@media only screen and(max-width:767px){
	overflow-x:scroll;
	}
}

//Personalizacion del tamaño de la imagen del error 404
.tamañoImagen404{ width:100px; height:600px;
	@media only screen and(max-width:767px){
	overflow-x:scroll;
	}
}

