<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="../css/estilo.css">
	<title>404</title>

</head>
<body>
	<div class="col-lg-12 col-xs-12">
		<img src="../assets/img/imagenerror.jpg" alt="" class="tamañoImagen404">
	</div>
	<div class="col-lg-12 col-xs-12">
		<h1>El link de redireccion que solicito aun no esta listo, le pedimos por favor que utilice el boton de abajo para regresar a la pagina principal Gracias</h1>
	</div>
	<div class="col-lg-6 col-xs-6 ">
		<a href="../index.html" class="boton--home">home</a>
	</div>
</body>
</html>
