<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GALERIA</title>
	<!-- bootstrap -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- CSS propio -->
	<link rel="stylesheet" href="../css/estilo.css">
	<!-- AOS animations -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
<header>
		<!-- contenedor nav -->
				<nav class="navbar navbar-expand-lg backgroundNav txtNav tamañoNav ">
  					<a class="navbar-brand" href="#"><img src="../assets/img/logo.jpg"></a>
  					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    				<span class="navbar-toggler-icon"></span>
  					</button>
 				 	<div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    					<div class="navbar-nav">
      					<a class="nav-link active" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
     			 		<a class="nav-link" href="../views/CONTACTO.HTML">Contacto</a>
      					<a class="nav-link" href="../views/NOSOTROS.HTML">Nosotros</a>
      					<a class="nav-link" href="../views/PRODUCTOS.HTML">Productos</a>
      					<a class="nav-link" href="../views/BENEFICIOS.HTML">Beneficios</a>
   		 				</div>
  					</div>
				</nav>				
			
	<!-- fin nav -->
	</header>
	
	<div class="row paddingTB marginID ">
		<section class="titulo_galeria col-lg-12 col-xs-12 ">
			<h1>Beneficios</h1>
		</section>
		<section class="col-lg-6 col-xs-6">
			<p>Nuestro establecimiento cuenta con una tarjeta de beneficios, con los que disfrutaras de importates descuentos, participar en sorteos y mas</p>
		</section>
		<!-- apertura de cards -->
			<div class="row paddingTB marginsID">
				<div class="card-deck">
  					<div class="card">
   					 <img src="../assets/img/campera.jpg" class="card-img-top"  alt="...">
   					 <div class="card-body">
      				<h5 class="card-title">Campera</h5>
     				 <p class="card-text">Campera para ejercicio Topper, impermeable, liviana excelente para poder llevar a entrenar</p>
      				<button type="button" class="btn btn-primary btn-lg btn-block">Agrgar al carrito</button>
      				</div>
 				 </div>
 				 <div class="card">
   					 <img src="../assets/img/creatina.jpg" class="card-img-top" alt="...">
    				<div class="card-body">
     				 <h5 class="card-title">Batidos proteinicos</h5>
      				<p class="card-text">Batidos proteinicos para incrementar la masa muscular en menor tiempo</p>
      				<button type="button" class="btn btn-primary btn-lg btn-block">Agrgar al carrito</button>
     			    </div>
				  </div>
  				</div>
			</div>
			
			
		<!--cierre cards  -->
		<footer class="row paddingTB marginID">
			<section class="col-lg-8 col-xs-8">
				<h1>logo</h1>
			<img src="../assets/icons/copyright.svg" width="20" height="20" alt="">2021 Walter Moya todos los derechos reservados
			</section>
			<section class=" row col-lg-4 col-xs-4">
				<h2>manten el concato con nosotros</h2><br>
				<div class="marginD">
				<a href="index.html" ><img src="../assets/icons/home.svg" width="40" height="40" alt=""></a>
			</div>
			<div class="marginD">
				<a href="https://www.facebook.com/search/top?q=hellbox%20fitness%20center" target="_blank" ><img src="../assets/icons/facebook.svg" width="40" height="40" alt=""></a>
				
			</div >
				<div class="marginD">
				<a href="views/404.html" ><img src="../assets/icons/instagram2.svg" width="40" height="40" alt="instagram"></a>
				
			</div>
			</section>
			
		</footer>
	<!-- termina footer -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">		
		</script>
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
  		AOS.init();
		</script>
</body>
</html>