<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>nosotros</title>
	<!-- bootstrap -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- CSS propio -->
	<link rel="stylesheet" href="../css/estilo.css">
	<!-- AOS animations -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="row marginsID">
			<div class="col-lg-12 col-xs-4 tamañoNav">
				<!-- apertura nav -->
				<nav class="navbar navbar-expand-lg navbar-light bg-light tamañoNav">
  					<a class="navbar-brand" href="#"><img src="../assets/img/logo.jpg"></a>
  					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    				<span class="navbar-toggler-icon"></span>
  					</button>
 				 	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    					<div class="navbar-nav">
      					<a class="nav-link active" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
     			 		<a class="nav-link" href="CONTACTO.html">Contacto</a>
      					<a class="nav-link" href="NOSOTROS.html">Nosotros</a>
      					<a class="nav-link" href="PRODUCTOS.html">Productos</a>
      					<a class="nav-link" href="GALERIA.html">Galeria</a>
   		 				</div>
  					</div>
				</nav>
				<!--Cierre Nav  -->
			</div>			
		</div>
	<div class="nosotros_color">
	<section class="col-lg-12 col-xs-12 titulo_nosotros">
		<h1>Nosotros</h1>
			</section>
	<div class="row paddingTB marginID">
		<section class="col-lg-6 col-xs-4 subtitulo_nosotros parrafo_nosotros__style">
			<h2>Sobre Nosotros</h2>
			<p>
				Nosotros somos Hellbox, somos un staff de profesionales capacitados para ayudarte a cumplir las distintas metas que te propongas 
			</p>
			<p>Nuestro proyecto como box inicio hace aproximadamente 2 años, donde cada uno de nosotros con nuestras distintas maestrias decidimos realizar una union para poder tener un box en el cual se puede hacer todo tipo de entrenamiento y que este se adaptable a todo publico</p>
			
		</section>
		<section class="col-lg-6 col-xs-4 subtitulo_nosotros parrafo_nosotros__style">
			<h2>Nuestros Instructores</h2>
			<p>Nuestros instructores estan capacitados y certificados con los mas actuales seminarios para darles a ustedes la mejor capacitacion durante los entrenamientos para lograr los resultados deseados en tiempo y forma.</p>
			<p>El box esta equipado con botiquines de primeros auxilios y a su vez todos los instructores estan certificados en primeros auxilios ya que lo que mas nos importa a nosotros es su bienestar</p>
			
		</section>
		
	</div>
	<div class="row col-lg-12 col-xs-12 subtitulo_nosotros"> 
		<h2>Nuestros Horarios</h2>

		
	</div>
	<div class="row paddingTB marginID tamañoTabla" data-aos="fade-up">
		<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Dia/Horario</th>
      <th scope="col">Lunes</th>
      <th scope="col">Martes</th>
      <th scope="col">Miercoles</th>
      <th scope="col">Jueves</th>
      <th scope="col">Viernes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">10:30</th>
      <td>Crossfit</td>
      <td>Musculacion</td>
      <td>TRX</td>
      <td>Spining</td>
      <td>Boxeo</td>
    </tr>
    <tr>
      <th scope="row">11:30</th>
     <td>Musculacion</td>
      <td>TRX</td>
      <td>Crossfit</td>
      <td>Boxeo</td>
      <td>Spining</td>
    </tr>
    <tr>
      <th scope="row">12:30</th>
      <<td>Crossfit</td>
      <td>Spining</td>
      <td>Boxeo</td>
      <td>Musculacion</td>
      <td>TRX</td>
    </tr>
  </tbody>
</table>
	</div>
</div>	
	</div> 
	<div class="container-fluid">
		<footer class="row paddingTB marginID">
			<div class="col-lg-3 col-xs-3 ">
				<a href="NOSOTROS.HTML" class="boton--inicio">Volver Arriba</a>
			</div>
			<div class="col-lg-3 col-xs-3 ">
				<a href="https://www.facebook.com/search/top?q=hellbox%20fitness%20center" target="_blank" class="boton--facebook">Facebook</a>
				
			</div>
			<div class="col-lg-3 col-xs-3 ">
				<a href="404.html" class="boton--whatsapp">Whatsapp</a>
			</div>
			<div class="col-lg-3 col-xs-3 ">
				<a href="404.html" class="boton--instagram">Instagram</a>
				
			</div>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">		
	</script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
  	AOS.init();
	</script>
</body>
</html>